version: '3'
services:
  pktfwd:
    image: ghcr.io/heliumdiy/sx1302_hal:sha-87d8931
    container_name: pktfwd
    entrypoint: ["/opt/packet_forwarder/entrypoint.sh"]
    working_dir: /opt/packet_forwarder
    environment:
      VENDOR: linxdot
      REGION: EU868
    privileged: true
    volumes:
      - /opt/packet_forwarder/tools:/opt/packet_forwarder/tools:ro
      - /data/opt/packet_forwarder/configs:/opt/packet_forwarder/configs
    restart: always


  miner:
    image: quay.io/team-helium/miner:gateway-latest
    container_name: miner
    command: ["helium_gateway", "server"]
    restart: always
    environment:
      GW_KEYPAIR: "ecc://i2c-5:96?slot=0"
      GW_ONBOARDING: "ecc://i2c-5:96?slot=15"
      GW_REGION: "EU868"
      GW_LISTEN: "0.0.0.0:1680"
      RUST_BACKTRACE: "1"
    devices:
      - "/dev/i2c-5:/dev/i2c-5:rwm"
    cap_add:
      - SYS_RAWIO
